/* ==========================================================================
   Comments
   ========================================================================== */

ol.comment-list {
	margin: 0 0 1em !important;
	padding: 0;
}
	ol.comment-list img.avatar {
		margin: 8px 10px 0 0;
		padding: 4px;
		position: absolute;
		left: 1em;
		top: 0;
		border: 1px solid #1a1f23;
	}
	ol.comment-list li {
		margin: 1em 0;
		padding: 8px 0 8px 7em;
		list-style: none;
		overflow: hidden;
		position: relative;
	}
		ol.comment-list > li:nth-child(odd) {
			background-color: #fafafa;
			border: 1px solid #EEEEEE;
			border-radius: 0.5em 0.5em 0.5em 0.5em;
		}
		ol.comment-list li header {
			margin: 0;
			line-height: 1.5em;
		}
		ol.comment-list li article nav {
			clear: both;
			  display: block;
			  padding-right: 1em;
			  text-align: right;
		}
		ol.comment-list li ul, ol.comment-list #respond {
			margin: 0 1em  0 0 !important;
			padding: 0;
			background: white;
			border-radius: 0.5em 0.5em 0.5em 0.5em;
		}
		ol.comment-list li .comment-text {
			border: 2px solid #ebebeb;
			overflow: hidden;
			-moz-border-radius: 8px;
			-khtml-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
			padding: 10px 10px 0;	
		}
		ol.comment-list li.bypostauthor .comment-text, ol.comment-list li.bypostauthor img.avatar {
			border-color: #D4E2EB;
		}
		ol.comment-list li .comment-text p {
			margin: 0 0 10px !important;
		}
		ol.comment-list li p.meta {
			font-weight: normal;
			background: transparent;
			padding: 0;
			font-style: italic;
			color: #777;
			font-size: 1.2rem;
			margin: 0 0 10px !important;
		}
		ol.comment-list li p.meta strong {
			font-weight: bold;
		}
		
/* Respond form
   ========================================================================== */
		
#respond {
	margin: 2em 0;
}
	
	#respond input.text, #respond select, #respond textarea,
	.comment-form-author input,
	.comment-form-email input,
	.comment-form-url input,
	input#s {
		font-size: 1.4rem;
		line-height: 1em;
		padding: 0.375em;
		width: 50%;
		margin: 0 4px 0 0;
		outline: 0;
		display: block;
		background: rgba(0, 0, 0, 0.02);
		color: #6d667d;
		border: 0px solid #ccc;
		font-weight: normal;
		text-indent: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
		border: 1px #fff solid;
		border-style: none solid solid none;
	}
	input#s {
		display: inline-block;
		width: 40%;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;		
	}
	input#s:focus {
		width: 57%;
	}
	#respond input.text:focus, #respond select:focus, #respond textarea:focus,
	.comment-form-author input:focus,
	.comment-form-email input:focus,
	.comment-form-url input:focus,
	input#s:focus { 
		
	}
	.borderradius #respond input.text, .borderradius #respond select, .borderradius #respond textarea,
	.borderradius .comment-form-author input,
	.borderradius .comment-form-email input,
	.borderradius .comment-form-url input,
	.borderradius input#s {
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		-khtml-border-radius: 0.5em;
		-o-border-radius: 0.5em;
		border-radius: 0.5em;
	}
	#respond textarea {
		width: 98%;
		margin-right: 0;
	}
	#respond label {
		font-size: 1.4rem;
		font-weight: bold;
	}
