/* ==========================================================================
   Desktop
   ========================================================================== */

html {
	background-color: #fefefe;
	overflow-x: hidden;
}

html.no-touch {
	overflow-y: auto;
}

body {
	width: 100%;
	@include clearfix();
	position: relative;
	
	&.admin-bar {
		padding-top: 32px;
	}
}

#page-wrapper {
	position: relative;
	width: 100%;
}


/* Sections
   ========================================================================== */

.wrapper {
	position: relative;
	
	.section {
		@include center;
		
		.section-content {
			@include row;
		}
	}
}

/* Header
   ========================================================================== */

#header-wrapper {
	padding-top: 2*$gap;
	padding-bottom: 2*$gap;
	z-index: 99;
	
	#header {
		
		#header-content {
			@include clearfix;
			
		}
	}
}

#logo {
	@include column(4);
	img + h1 {
		@include visuallyhidden();
	}
}

/* Banner
   ========================================================================== */

#banner-wrapper {
	
	#banner {
		
		#banner-content {
			
			#hero {
				@include column(12);
				position: relative;
				overflow: hidden;
			}
		}
	}
}

.slider-controls {
	position: absolute;
	right: $gap;
	bottom: $gap;
	font-size: 2.8rem;
	
	.prev, .next {
		color: white;
		padding: $gap / 2;
		margin: 0 $gap / 4;
		
		&:hover {
			color: $link-hover;
		}
	}
	
	.disabled {
		color: #888;
		
		&:hover {
			color: #888;
		}
	}
}


/* Main Content
   ========================================================================== */

#main-wrapper {
	
	#main {
		padding: $gap 0;
		
		#main-content {
			
		}
	}
}


/* Content
   ========================================================================== */

#content {
	@include column(8.5);
	
	.archive-title {
		border-bottom: 1px solid whitesmoke;
		margin-bottom: $gap;
		padding-bottom: 10px;
	}
	
	article.hentry {
				
		header {
			
			h3 {
				margin: 0;
			}
			
			time {
				margin-bottom: 0;
				font-size: 1.4rem;
			}
			.meta {
				margin-bottom: $gap;
				margin-top: 0;
				font-size: 1.4rem;
			}
		}
		
		.content {
			
		}
		
		footer {
			
		}
	}
}

#content.full-width {
	@include column(12);
}


/* Archives
   ========================================================================== */

.archive, .search, .blog {
	
	#content {
		
		article {
			border-bottom: 1px solid whitesmoke;
			margin: 0 0 $gap * 2;
		}		
	}
}


/* Infinite Scroll
   ========================================================================== */

.ias-noneleft, .ias-trigger, .ias-spinner {
	padding: $gap;
	width: 100%;
	text-align: center;
	border: 1px solid whitesmoke;
	background: #fafafa;
	font-size: 2rem;
}


/* Sidebar
   ========================================================================== */

#sidebar {
	@include column(3.5);
	
	
	// Generic widget
	
	.widget { 
		margin-bottom: $gap;
		@include clearfix;
		
		ul {
			border-top: 1px solid #eee;
			padding-left: 0;
			margin-left: $gap;
			
			li {
				list-style: none;
				border-bottom: 1px solid #eee;
				padding: 0 0.3em;
				
				a {
					display: block;
					padding: 0.6em 0.3em; 
				}
			}
		}
		
		.sub-menu li:last-child {
			border-bottom: none;
		}
	}
	
	// Sidebar menu
	
	.widget_sub_menu {
		
		.menu {
			border-top: none !important;
			margin-left: 0;
		}
		
		.current_page_ancestor {
			
			border: none !important;
			
			> a {
				font-size: 1.4rem;
			}
		
		}
		
		.active > a {
			color: inherit;
		}
		
		> .active {
			
			border: none !important;
			
			> a {
				font-size: 1.4rem;
			}
		}
	}
}


/* Search form
   ========================================================================== */

.search-form {
	
	> label {
		position: relative;
		display: inline-block;
		width: 58%;
		
		.search-field {
			padding: 0.5em 0.6em 0.5em 2em;
		}
		
		&:before {
			@include icon;
			content: '';
			position: absolute;
			z-index: 1;
			top: 5px;
			left: 7px;
		}
	}
	
	.search-submit {
		width: 40%;
		display: inline-block;
	}
}

/* ==========================================================================
   Layouts
   ========================================================================== */

.content-blocks {
	@include row;
}

/* Standard
   ========================================================================== */

.heading {
	display: inline;
	float: left;
	width: 97.91666666666666%;
	margin-left: 1.0416666666666665%;
	margin-right: 1.0416666666666665%;
}

.standard {
	@include column(12);
}

.small-padding {
	padding: 1*$gap 0;
}

.vertical-padding, .big-padding {
	padding: 3*$gap 0;
}


/* Full width text block
   ========================================================================== */

.full-width-wrapper {
	@include column(12);
	
	.full-width {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin-left: -2000px;
		margin-right: -2000px;
		@include clearfix;
		
		.center {
			@include center;
		}
	}

}

/* Columns
   ========================================================================== */

.columns {
	float: left;
	width: 100%;
}

div.columns.columns-1 {	.single-column { @include column(12); } }
div.columns.columns-2 {	.single-column { @include column(6); } }
div.columns.columns-3 {	.single-column { @include column(4); } }
div.columns.columns-4 {	.single-column { @include column(3); } }
div.columns.columns-5 {	.single-column { @include column(2.4); } }
div.columns.columns-6 {	.single-column { @include column(2); } }

// Odd columns

div.columns {

	.one						{ @include column(12); }
	.one_quarter		{ @include column(3); }
	.one_half				{ @include column(6); }
	.three_quarters	{ @include column(9); }
	.one_third			{ @include column(4); }
	.two_thirds			{ @include column(8); }
	.one_fifth			{ @include column(2.4); }
	.two_fifths			{ @include column(4.8); }
	.three_fifths		{ @include column(7.2); }
	.four_fifths		{ @include column(9.6); }

}


/* Tabs
   ========================================================================== */

// Removed temporarily



/* Slideshow
   ========================================================================== */
   
.slideshow {
	@include column(12);
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	
}


/* Gallery
   ========================================================================== */

.gallery {
	@include column(12);
	margin-top: $gap;
	margin-bottom: $gap;
	
	.row {
		@include row;
	}
	
	figure img {
		border-radius: 5px;
		background: white;
		padding: 0.5 * $gap;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	}
	
	.row figure { margin-bottom: 0.5 * $gap; }
	
	.row.one		figure { @include column(12); }
	.row.two		figure { @include column(6); 	}
	.row.three	figure { @include column(4); 	}
	.row.four		figure { @include column(3); 	}
	.row.five		figure { @include column(2.4);}
	.row.six		figure { @include column(2); 	}

}


/* Blockquote
   ========================================================================== */

blockquote.quote {

	position: relative;
	@include column(12);
	p {
		padding: 0 $gap;
		font-size: 2.2rem;
	}
	.author {
		font-size: 2.2rem;
		font-style: italic;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
}

/* Accordion
   ========================================================================== */

.accordion {
	@include column(12);
	border-bottom: 1px solid #c7d5d9;
	padding-bottom: 0.5*$gap;
	margin-bottom: 0.5*$gap;
	position: relative;
	cursor: pointer;
	
	.accordion-title {
		cursor: pointer;
		color: $link-base;
		
		&:hover {
			color: $link-hover;
		}
		
		&:after {
			content: '▼';
			font-size: 1.2rem;
			margin-left: 0.5*$gap;
			line-height: 1em;
			vertical-align: middle;
			top: -2px;
			position: relative;
		}
		&.active:after {
			content: '▲';
		}
	}
	.accordion-content {
		display: none;
		margin-top: 0.5*$gap;
	}
}


/* Footer
   ========================================================================== */

#footer-wrapper {


	#footer {
		
		#footer-content {
			@include clearfix;
			padding: $gap 0;
		}
	}
}

.footer-nav {
	@include column(12);
	
	ul {
		padding: 0;
		margin: 0;
		
		li {
			display: inline-block;
			margin-right: $gap;
			
			font-size: 1.2rem;
		}
	}
}


/* Media Queries
   ========================================================================== */

@media screen and (max-width: 1000px) {

	.wrapper {
		padding: 0 $gap;
	}
	
	.full-width-wrapper {
		
		.full-width {
			margin-left: -40px;
			margin-right: -40px;
			padding-left: 2*$gap;
			padding-right: 2*$gap;
		}
	}

}