form {
	
	#{$all-text-inputs}, textarea, button, select[multiple=multiple] {
		display: inline-block;
		padding: 0.5em 0.6em;
		border: 1px solid #ccc;
		font-size: 1.4rem;
		width: 100%;
		vertical-align: baseline;
		*vertical-align: middle;
		@include transition(.3s linear border);
		@include box-sizing(border-box);
	}
	
	.gfield_error {
		input, textarea, button, select {
			 border-color: #b94a48;
			 box-shadow: inset 0 1px 3px #b94a48;
			 &:focus {
				outline: auto 5px #b94a48;
			}
		}
	}
	
	select {
		width: 100%;
	}
	
	select[multiple=multiple] {
		padding: 0.8em 0.6em;
		line-height: 1.6;
	}
	
	button {
		-webkit-appearance: button;
		cursor: pointer;
		*overflow: visible;
	}
	
	input {
		&[type=button], &[type=reset], &[type=submit] {
			@include box-sizing(border-box);
			-webkit-appearance: button;
			cursor: pointer;
			*overflow: visible;
			padding: 0.58em 0.6em;
		}
	}
	
	button[disabled] {
		cursor: default;
	}
	
	input {
		&[disabled] {
			cursor: default;
		}
		&[type=checkbox], &[type=radio] {
			@include box-sizing(border-box);
			padding: 0;
			*height: 13px;
			*width: 13px;
		}
		&[type=search] {
			&::-webkit-search-cancel-button, &::-webkit-search-decoration {
				-webkit-appearance: none;
			}
		}
	}
	
	button::-moz-focus-inner, input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	.ginput_full {
		width: 100%;
		display: inline-block;
		margin-bottom: 0.3em;
	}
	.ginput_left, .ginput_right {
		display: inline-block;
		width: 48%;
		vertical-align: middle;
		margin-bottom: 0.3em;
	}
	.ginput_left {
		margin-right: 4%;
	}
	
	.gfield_time_hour, .gfield_time_minute, .gfield_time_ampm {
		display: inline-block;
		vertical-align: middle;
		width: 30%;
		margin-right: 2%;
		input {
			width: 80%;
		}
		label {
			width: 16%;
			margin: 0 2%;
		}
	}
	
	ul, .gform_fields {
		list-style: none;
		padding: 0;
		
		.gfield {
			padding: 0.7em 1em;
		}
		
		.gsection {
			padding: 2em 0;
			background: none;
		}
	}
	
	.gfield_label {
		display: block;
		margin-bottom: 0.25em;
		font-weight: bold;
	}
	
	.gfield_required {
		color: #b94a48;
		margin-left: 5px;
	}
	
	.gfield_list_cell {
		
	}
	
	.validation_message {
		position: absolute;
		width: 155px;
		left: -175px;
		top: 2.5em;
		background: #b94a48;
		color: white;
		padding: 0.2em 0.5em;
		box-sizing: content-box;
		text-align: center;
		&:after {
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		
		&:after {
			border-color: rgba(185, 74, 72, 0);
			border-left-color: #b94a48;
			border-width: 5px;
			top: 50%;
			margin-top: -5px;
		}
	}
	
	.gform_validation_container {
		display: none;
	}
	
	.gfield_checkbox, .gfield_radio {
		input {
			margin-right: 0.5em;
		}
	}
	
	.gf_progressbar_wrapper {
		background: #fafafa;
		padding: 0.7em 1em 1.2em;
		border-bottom: 1px solid #eee;
	}
	
	.gf_progressbar {
		border-radius: 4px;
		overflow: hidden;
		color: white;
		font-weight: bold;
		background: white;
	}
	.gf_progressbar_percentage {
		@include background-image(linear-gradient($link-base 0, $link-hover 100%));
		padding: 0.1em 0.5em;
	}
	
}

@media screen and (max-width: 1350px) {
	form {
		.validation_message {
			position: relative;
			top: 5px;
			left: auto;
			&:after {
				bottom: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			
			&:after {
				border-color: rgba(185, 74, 72, 0);
				border-bottom-color: #b94a48;
				border-width: 5px;
				left: 50%;
				top: -5px;
				margin-left: -5px;
			}
		}
	}
}

/* jQuery UI date picker ------------------------------------------------------*/

.ui-datepicker-div,
.ui-datepicker-inline,
#ui-datepicker-div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 1.4rem;
	list-style: none;
	font-family: "lucida sans", "lucida grande", lucida , sans-serif;
	background-color: #FFF;
	font-size: 1.4rem;
	border: 4px solid #C1C1C1;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative
}
.ui-datepicker-div,
#ui-datepicker-div {
	z-index: 9999;
	display: none
}
.ui-datepicker-inline {
	float: left;
	display: block
}
.ui-datepicker-control {
	display: none
}
.ui-datepicker-current {
	display: none
}
.ui-datepicker-next,
.ui-datepicker-prev {
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	background-color: #EEE
}
.ui-datepicker-next {
	left: 14.6em
}
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
	background-color: #DADADA
}
.ui-datepicker-next a,
.ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1.4rem;
	background-image: url(images/datepicker_arrow_left.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid #d3d3d3;
	cursor: pointer
}
.ui-datepicker-next a {
	background-image: url(images/datepicker_arrow_right.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat
}
.ui-datepicker-header select {
	border: 1px solid #D3D3D3;
	color: #555;
	background-color: #E6E6E6;
	font-size: 1.4rem;
	line-height: 1.4em;
	position: absolute;
	top: 0.5em;
	margin: 0 !important
}
.ui-datepicker-header option:focus,
.ui-datepicker-header option:hover {
	background-color: #DADADA
}
.ui-datepicker-header select.ui-datepicker-new-month {
	width: 7em;
	left: 2.2em
}
.ui-datepicker-header select.ui-datepicker-new-year {
	width: 5em;
	left: 9.4em
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right
}
table.ui-datepicker td a {
	padding: .1em;
	display: block;
	color: #555;
	background-color: #E6E6E6;
	cursor: pointer;
	border: 1px solid #FFF;
	text-align: center
}
table.ui-datepicker td a:hover {
	border: 1px solid #FFF;
	color: #212121;
	background-color: #DADADA;
	text-decoration: none
}
table.ui-datepicker td a:active {
	border: 1px solid #AAA;
	color: #212121;
	background-color: #FFF;
	text-decoration: none
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .2em 0;
	text-align: center;
	font-size: 1.3rem;
	color: #222;
	text-transform: uppercase
}
table.ui-datepicker .ui-datepicker-title-row td a {
	color: #222;
	padding: 0.3em 0
}