
/*--[ Menu ]--------------------------------------------------------------------------------*/

@if ($sidemenu == false) {

#menu-toggle {
	display: none;
	padding: 0.5em 1em;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: left;
	color: #fafafa;
	background: #333;
	cursor: pointer;
	z-index: 100;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

// Full width //////////////////////////////

@media screen and (min-width: 700px) {
	
	#nav-wrapper {
		z-index: 1000;
		.menu-header {
			@include center;
			padding: $gap 0;
			font-size: 1.4rem;
			
			 #main-nav {
				@include row;
			}
		}
	}

}

#main-nav .menu {
	@include column(12);
	float: left;
	padding: 0;
	
	li {
		position: relative;
		float: left;
		margin-right: 1em;
		list-style: none;
		
		&:last-child {
			margin-right: 0;
		}
		
		&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
			background: #fafafa;
		}
		
		a {
			display: block;
			padding: 0.2em 0.5em;
		}
		
		&.active a, &:hover a {
			background: #fafafa;
		}
		
		&.menu-parent > a:after {
			@include icon;
			content: '';
			color: $link-base;
			font-size: 1.4rem;
			margin-left: 5px;
			position: relative;
			top: -1px;
		}
		
		.sub-menu {
			padding: 0;
			display: none;
			position: absolute;
			background: #fafafa;
			z-index: 1000;
			
			li {
				float: none;
				position: relative;
				margin-right: 0;
				
				&.menu-parent > a:after {
					position: absolute;
					right: 9px;
					top: 3px;
				}
				
				a {
					width: 9em;
				}
			}
			.sub-menu {
				display: none;
				left: 100%;
			    position: absolute;
			    top: 0;
			}
		}
	}
}


// Mobile //////////////////////////////

@media screen and (max-width: 700px) {
	

	#menu-toggle {
		display: block;
	}
	#main-nav .menu {
		display: inline;
		float: left;
		width: 100%;
		margin: 0;
		float: left;
		padding: 0;
		text-align: center;
		background: #333;
		li {
			float: none; 
			display: block; 
			text-align: left;
			margin-right: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			
			&:hover, &.current-menu-item, &.current-menu-parent {
				background: rgba(255, 255, 255, 0.1);
				a {
					
				}
			}
			a {
				padding: 0.5em 0.5em 0.5em 1.5em;
				color: white;
			}
			
			&.menu-parent > a:after {
				position: absolute;
				right: 17px;
				top: 14px;
				color: white;
			}
			
			&.active a, &:hover a {
				background: rgba(255, 255, 255, 0.1);
			}
			
			.sub-menu {
				position: static;
				display: none;
				max-width: 100%;
				zoom:1;
				background: rgba(255, 255, 255, 0.1);
				
				li {
					float: none;
					position: static;
					display: block !important;
					opacity: 1 !important;
					zoom:1;
										
					a {
						width: 100%;
						padding-left: 1.8em;
					}
					.sub-menu {
						position: relative;
						left: 0;
						li {
							padding-left: 0;
							a {
								padding-left: 2.4em;
							}
						}
					}
				}
			}
		}
	}
	
	#nav-wrapper {
		padding: 0 $gap;
		z-index: 98;
		
		.menu-header {
			padding: 0;
			max-height: 0;
			overflow: hidden;
			@include transition(all 300ms ease);
			
			#main-nav {
				padding: 0;
				font-size: 1.4rem;
				
			}
		}
		
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #page-wrapper {
		
  }

  .js-nav #page-wrapper {

  }
  
  .js-nav #nav-wrapper .menu-header {
	  max-height: 5000px;
  }

  #nav-wrapper #menu-main {
		
  }

  .js-nav #nav-wrapper #menu-main {
		
  }

}

}