
/*--[ Menu ]--------------------------------------------------------------------------------*/

@if ($sidemenu == true) {

$openspeed: 350ms;
$menuwidth: 300px;

#menu-toggle {
	position: absolute;
	display: none;
	padding: 0.5em 1em;
	margin: 0.5em 0 0.2em;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: right;
	color: #fafafa;
	background: #333;
	cursor: pointer;
	z-index: 100;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.site-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: $menuwidth;
	z-index: 9999;
}
// Full width //////////////////////////////

@media screen and (min-width: 700px) {
	
	#nav-wrapper {
		z-index: 1000;
		.menu-header {
			@include center;
			padding: $gap 0;
			font-size: 1.4rem;
			
			 #main-nav {
				@include row;
			}
		}
	}

}

#main-nav .menu {
	@include column(12);
	float: left;
	padding: 0;
	
	li {
		position: relative;
		float: left;
		margin-right: 1em;
		list-style: none;
		
		&:last-child {
			margin-right: 0;
		}
		
		&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
			background: #fafafa;
		}
		
		a {
			display: block;
			padding: 0.2em 0.5em;
		}
		
		&.active a, &:hover a {
			background: #fafafa;
		}
		
		&.menu-parent > a:after {
			@include icon;
			content: '';
			color: $link-base;
			font-size: 1.4rem;
			margin-left: 5px;
			position: relative;
			top: -1px;
		}
		
		.sub-menu {
			padding: 0;
			display: none;
			position: absolute;
			background: #fafafa;
			z-index: 1000;
			
			li {
				float: none;
				position: relative;
				margin-right: 0;
				
				&.menu-parent > a:after {
					position: absolute;
					right: 9px;
					top: 3px;
				}
				
				a {
					width: 9em;
				}
			}
			.sub-menu {
				display: none;
				left: 100%;
			    position: absolute;
			    top: 0;
			}
		}
	}
}

// Mobile //////////////////////////////

@media screen and (max-width: 700px) {
	
	#menu-toggle {
		display: block;
	}
	
	#main-nav .menu {
		display: inline;
		float: left;
		width: 100%;
		margin: 0;
		float: left;
		padding: 0;
		text-align: center;
		
		li {
			float: none; 
			display: block; 
			text-align: left;
			margin-right: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			
			&:hover, &.current-menu-item, &.current-menu-parent {
				background: rgba(255, 255, 255, 0.1);
				a {
					
				}
			}
			a {
				padding: 0.5em 0.5em 0.5em 1.2em;
				color: white;
			}
			
			&.menu-parent > a:after {
				position: absolute;
				right: 17px;
				top: 14px;
				color: white;
			}
			
			&.active a, &:hover a {
				background: rgba(255, 255, 255, 0.1);
			}
			
			.sub-menu {
				position: static;
				display: none;
				max-width: 100%;
				zoom:1;
				background: rgba(255, 255, 255, 0.1);
				
				li {
					float: none;
					position: static;
					display: block !important;
					opacity: 1 !important;
					zoom:1;
					
					&.menu-parent > a:after {
						position: absolute;
						right: 17px;
						top: 14px;
					}
					a {
						width: 100%;
						padding-left: 1.8em;
					}
					.sub-menu {
						position: relative;
						left: 0;
						li {
							padding-left: 0;
							a {
								padding-left: 2.4em;
							}
						}
					}
				}
			}
		}
	}
	
	#nav-wrapper {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
		width: $menuwidth;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		background: #333;
		-webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		z-index: -1;
		
		.menu-header {

			#main-nav {
				padding: 5em 0 0;
				font-size: 1.4rem;
				
			}
		}
  }
  #page-wrapper {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform $openspeed ease;
    -moz-transition: -moz-transform $openspeed ease;
    -o-transition: -o-transform $openspeed ease;
    transition: transform $openspeed ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
	
	.js-nav .site-overlay {
		display: block;
	}
	
  .js-nav #page-wrapper {
    -webkit-transform: translate3d($menuwidth, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d($menuwidth, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d($menuwidth, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d($menuwidth, 0, 0) scale3d(1, 1, 1);
    transform: translate3d($menuwidth, 0, 0) scale3d(1, 1, 1);
  }
  
  .js-nav #nav-wrapper {
	  display: block;
  }

  #nav-wrapper #menu-main {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform $openspeed ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform $openspeed ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform $openspeed ease;
    transition: opacity 300ms 100ms ease, transform $openspeed ease;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .js-nav #nav-wrapper #menu-main {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

}