/*--[ Mobiles ]--------------------------------------------------------------------------------*/

@media screen and (max-width: 700px) {
		
	body {
		font-size: 1.4rem;
	}

	.wrapper {
		padding: 0 $gap;
	}
	
	#logo {
		@include column(12);
		text-align: center;
	}

	#content {
		@include column(12);
	}
	
	// Layouts //////////////////////////////
	
	// Standard //
	
	.standard {
		@include column(12);
	}
	
	// Full width //
	
	.full-width-wrapper {
		
		.full-width {
			margin-left: -40px;
			margin-right: -40px;
			padding-left: 2*$gap;
			padding-right: 2*$gap;
		}
	}
	
	// Left Image //

	.left_image {

		.image {
			@include column(12);
			margin-bottom: $gap;
		}
		.content {
			@include column(12);
		}
	}
	
	// Right Image //
	
	.right_image {

		.image {
			@include column(12);
			margin-bottom: $gap;
		}
		.content {
			@include column(12);
		}
	}

	// Columns //
	
	div.columns.columns-1 {	.single-column { @include column(12); } }
	div.columns.columns-2 {	.single-column { @include column(12); } }
	div.columns.columns-3 {	.single-column { @include column(12); } }
	div.columns.columns-4 {	.single-column { @include column(12); } }
	div.columns.columns-5 {	.single-column { @include column(12); } }
	div.columns.columns-6 {	.single-column { @include column(12); } }
	
	
	div.columns { .one_quarter 		{ @include column(12); } }
	div.columns { .one_half 			{ @include column(12); } }
	div.columns { .three_quarters	{ @include column(12); } }
	div.columns { .one_third 			{ @include column(12); } }
	div.columns { .two_thirds 		{ @include column(12); } }
	div.columns { .one_fifth			{ @include column(12); } }
	div.columns { .two_fifths			{ @include column(12); } }
	div.columns { .three_fifths		{ @include column(12); } }
	div.columns { .four_fifths		{ @include column(12); } }
	
	// Gallery //

	.gallery {
		
		.row {
			@include row;
		}
		
		.row.one		figure { @include column(12); 	margin-bottom: 0.5em; }
		.row.two		figure { @include column(6); 		margin-bottom: 0.5em; }
		.row.three	figure { @include column(12); 	margin-bottom: 0.5em; }
		.row.four		figure { @include column(12); 	margin-bottom: 0.5em; }
		.row.five		figure { @include column(12); 	margin-bottom: 0.5em; }
		.row.six		figure { @include column(12); 	margin-bottom: 0.5em; }
	
	}
	
	#sidebar {
		@include column(12);
	}
	
	#subpages {
		display: none;
	}
	
	#searchform {
		@include column(12);
		text-align: center;
		margin: $gap 0;
	}
	
	#footer-wrapper {

	
		#footer {
			@include center;
			padding: $gap 0;
			
			nav {
				
				ul {
					
					li {
						display: block;
						float: none;
						
					}
					
					.sit-link {
						float: none;
						
					}
				}
			}
		}
	}
}
