/*--[ Tablets ]--------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {

	.wrapper {
		padding: 0 $gap;
	}
	
	#content {
		@include column(12);
	}
	// Layouts //////////////////////////////
	
	// Standard //
	
	.standard {
		@include column(12);
	}
	
	// Left Image //

	.left_image {

		.image {
			@include column(6);
			margin-bottom: $gap;
			text-align: center;
		}
		.content {
			@include column(6);
		}
	}
	
	// Right Image //
	
	.right_image {

		.image {
			@include column(6);
			margin-bottom: $gap;
			text-align: center;
		}
		.content {
			@include column(6);
		}
	}
	
	// Columns //
	
	div.columns-1 {	.single-column { @include column(12);} }
	div.columns-2 {	.single-column { @include column(6); } }
	div.columns-3 {	.single-column { @include column(6); } }
	div.columns-4 {	.single-column { @include column(3); } }
	div.columns-5 {	.single-column { @include column(3); } }
	div.columns-6 {	.single-column { @include column(3); } }
	
	div.columns { .one_quarter 		{ @include column(6);  } }
	div.columns { .one_half 			{ @include column(12); } }
	div.columns { .three_quarters	{ @include column(12); } }
	div.columns { .one_third 			{ @include column(6);  } }
	div.columns { .two_thirds 		{ @include column(12); } }
	div.columns { .one_fifth			{ @include column(6);  } }
	div.columns { .two_fifths			{ @include column(6);  } }
	div.columns { .three_fifths		{ @include column(12); } }
	div.columns { .four_fifths		{ @include column(12); } }
	
	#sidebar {
		@include column(12);
	}
}
