/* =[ Type ]================================================================= */

// Derived from http://modularscale.com/scale/?px1=16&px2=80&ra1=1.62&ra2=0

body {
	font-size: 1.4rem;
	line-height: 1.62;
	text-align: left;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
	color: $body-copy-color;
	font-size-adjust: auto;
	
	word-wrap: break-word;
	-ms-word-wrap: break-word;
	// @include css-hyphens(auto);
}

a { color: $link-base ; text-decoration: none; }
a:hover, a:focus { color: $link-hover; }
#content a:hover { text-decoration: underline; }

.button, .product a { text-decoration: none !important; }

p {
	margin-top: 0;
	margin-bottom: 20px;
	& + p {
		// text-indent: 1.5em; // For indenting sibling paragraphs in text heavy sites
	}
}

p.intro {
	font-size: 1.4rem;
	line-height: 1.394;
}

/* =[ Headings ]================ */

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Sans-serif;
	color: $heading-color;
	text-shadow: 0 1px 0 rgba(255,255,255,0.95) ;
	font-weight: normal;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: ms(5);
	margin-top: ms(2);
	margin-bottom: ms(1);
}

h2 {
	font-size: ms(4);
	margin-top: ms(2);
	margin-bottom: ms(1);
}

h3 {
	font-size: ms(3);
	margin-top: ms(2);
	margin-bottom: ms(1);
}

h4 {
	font-size: ms(2);
	margin-top: ms(2);
	margin-bottom: ms(1);
}

h5 {
	font-size: ms(1);
	margin-top: ms(2);
	margin-bottom: ms(1);
}

h6 {
	font-size: ms(-1);
	margin-top: ms(2);
	margin-bottom: ms(1);
	text-transform: uppercase;
}

h1 + h2, h2 + h3, h3 + h4, h5 + h6 {
	margin-top: 0;
}

/* =[ Layout Elements ]================ */

hr { color: #222; background-color: #222; border: none; border-top: 1px solid #ccc; margin: 20px 0; display: block; }

article blockquote {
	margin: 0 0 1.25rem 0;
	font-family: cambria, georgia, times, serif;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fafafa;
	padding: 1.25rem;
	font-style: italic;
	p:last-child { margin-bottom: 0; }
}

.pull-quote {
	position: relative;
	padding: 1.2rem;
	&:before,
	&:after {
		height: 4rem;
		opacity: 0.15;
		position: absolute;
		font-size: 1.4rem;
	}
	&:before {
		content: '“';
		top:  0em;
		left: 0em;
	}
	&:after {
		content: '”';
		bottom: 0em;
		right: 0em;
	}
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

.drop-cap {
	&:first-letter {
		float: left;
		margin: 0;
		padding: 0.4em;
		font-size: 1.4rem;
		font-family: inherit;
		line-height: 0.1;
		text-indent: 0;
		background: transparent;
		color: inherit;
	}
}

.post time {
	
	&:before {
		@include icon;
		content: '';
		margin-right: 5px;
		vertical-align: middle;
	}
}

/* =[ Table ]================ */

table {
	width: 100%;
}

/* =[ Layout based tweaks ]================ */

#sidebar {
	// Change sidebar base font size
	font-size: 1.3rem;
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1.3rem;
	}
}