//--[ Helper functions and mixins ]--------------------------------------------------------------------------------/

@mixin css-hyphens($val) {
	// Accepted values: [ none | manual | auto ]
	-webkit-hyphens: $val;	// Safari 5.1 thru 6, iOS 4.2 thru 6
	-moz-hyphens: $val;		// Firefox 16 thru 20
	-ms-hyphens: $val;		// IE10
	-o-hyphens: $val;		// PRESTO...haha LOL
	hyphens: $val;			// W3C standard
}


/* =[ Calculate Rem ]================ */

@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */
  
  @each $value in $values { /* 4 */
   
    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    
    @else { 
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */
      
      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }
      
      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }
  
  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

/* =[ Icons ]================ */

@mixin icon {
	font-family: 'IcoMoon';
	font-size: 1.4rem;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.icon {
	@include icon;
}

/* =[ Spinner ]================ */

.spinner {
	z-index: 1;
	position: absolute;
	width: 100%;
	margin: 220px auto;
	height: 30px;
	text-align: center;
	font-size: 1.4rem;
}

.spinner > div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	
	@include animation (stretchdelay 1.2s infinite ease-in-out);
}

.spinner .rect2 {
	@include animation-delay(-1.1s);
}

.spinner .rect3 {
	@include animation-delay(-1.0s);
}

.spinner .rect4 {
	@include animation-delay(-0.9s);
}

.spinner .rect5 {
	@include animation-delay(-0.8s);
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { @include transform(scaleY(0.4)) }	
	20% { @include transform(scaleY(1.0)) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
		@include transform(scaleY(0.4));
	} 20% {
		@include transform(scaleY(1.0));
	}
}

//--[ Buttons ]--------------------------------------------------------------------------------/

// c1 = Highlight
// c2 = Lowlight
// c3 = Hover Highlight

@mixin button1 ($c1, $c2, $c3) {
	background:#578724;
	background-image: -moz-linear-gradient(top, $c1, $c2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $c1),color-stop(1, $c2)); /* Saf4+, Chrome */
	border-color: ($c1 - #222) ($c1 - #222) ($c1 - #444);
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
	color: white;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	padding: 0.5em 1em;
	
	&:hover {
		background:$c3;
		color:#fff;
		background-image: -moz-linear-gradient(top, $c3, $c2); /* FF3.6 */
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $c3),color-stop(1, $c2)); /* Saf4+, Chrome */
		border-bottom:1px solid rgba(0,0,0,0.6);
	}
	&:active {
		border-color: $c1;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #FFFFFF;
		color: #222;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	}
}

// Placeholder Image Fetcher Function 
// by: Anders Schmidt Hansen
// andersschmidt.com

// Call a Placehold.it image
@mixin placeholdit($width: 300, $height: 210) {
	background: url("http://placehold.it/${width}x${height}") no-repeat;
}

// Call a Placekitten image
@mixin placekitten($width: 300, $height: 210) {
	background: url("http://placekitten.com/${width}/${height}") no-repeat;
}