// Woocommmerce //


@media screen and (max-width: 480px) {
	
	.woocommerce { 
		
		div.product {
		
			div.images, div.summary {
				width: 100% !important;;
			}
		}
		
		#content div.product {
		
			div.images, div.summary {
				width: 100% !important;;
			}
		}
		
		ul.products {
		
			li.product {
				width: 48.1% !important;
				
				&:nth-child(even) {
					margin-right: 0 !important;
				}
			}
		}
	}
	
	.woocommerce-page {
	
		div.product {
		
			div.images, div.summary {
				width: 100% !important;;
			}
		}
		
		#content div.product {
		
			div.images, div.summary {
				width: 100% !important;;
			}
		}
	}
}
	
div.pp_woocommerce {
	overflow: visible !important;
	.ppt, .pp_description {
		display: none !important;
	}
	.pp_details {
		padding-top: 0 !important;
	}
}
