/*!
Theme Name: WP Sandpit
Version: 3.4
Author: Ryan Berry
Author URI: http://berrymultimedia.net.au/
*/

// ==========================================================================
// Libraries
// ==========================================================================

@import 'modular-scale/modular-scale';
@import 'bourbon/bourbon';
@import 'utilities';

// ==========================================================================
// Configuration
// ==========================================================================

$sidemenu: true;


// Variables
// ==========================================================================

$ms-base: 1rem;
$ms-ratio: $augmented-fourth;

$base-font-size: 14px;
$body-copy-color: #6f6f6f;
$heading-color: #333;
$link-base: #74a9cf;
$link-hover: $link-base + #222;
$highlight: #89bee7;


@import 'fonts';
@import 'reset';


// Grid
// ==========================================================================

// Specify the number of columns and set column and gutter widths

$column-width: 60px;
$gutter-width: $base-font-size * $ms-ratio;
$columns: 12;
$max-width: 960px;
$basefont: $base-font-size;
$gap: $base-font-size * $ms-ratio;

@import 'grid';

/* ==========================================================================
   Universal wrapper
   ========================================================================== */

@mixin center {
	//  Change the definition below to just "width" for a non responsive layout
	max-width: $max-width;
	margin: 0 auto;
	display: block;
}

.wrapper {
	display: block;
}


@import 'typography';
@import 'desktop';
@import 'menu_side';
@import 'menu_dropdown';
@import 'forms';
@import 'woocommerce';
@import 'images';
@import 'comments';
@import 'plugins';
@import 'tablet';
@import 'mobile';
@import 'print';
@import 'shame';
